<!-- Footer -->
    <footer class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p class="mb-0">
              Copyrights &copy;2025 . Designed & Developed by<b
                ><a
                  style="text-decoration: underline"
                  href="https://motivertech.com"
                >
                  Motiver Tech
                </a></b
              >
            </p>
          </div>
          <div class="col-md-4 text-md-end">
            <div style="letter-spacing: 5px; font-size: 20px">
              <a href="#"><i class="bx bxl-facebook-circle"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-twitter"></i></a>
              <a href="#"><i class="bx bxl-linkedin"></i></a>
              <a href="#"><i class="bx bxl-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>